.package-detail-container {
    width: 60%;
}

.package-booking-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.booking-input {
    width: 70%;
    margin-bottom: 10px;
    padding-left: 20px;
    height: 3em;
}

.input-submit {
    background-color: #ffca2b;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    height: 2.5em;
    border: 3px solid transparent;
}

.input-submit:hover {
    background-color: #f3b703;
    border: 3px solid rgba(0, 0, 0, 0.5);
    transition: all 0.5s;
}

@media only screen and (max-width: 688px) {
    .package-detail-container {
        width: 95%;
    }
    .package-booking-form .booking-input {
        width: 95%;
    }
}

@media only screen and (min-width: 689px) and (max-width: 899px) {
    .package-detail-container {
        width: 70%;
    }
    .package-booking-form .booking-input {
        width: 70%;
    }
}

@media only screen and (min-width: 900px) and (max-width: 1370px) {
    .package-detail-container {
        width: 60%;
    }
    .package-booking-form .booking-input {
        width: 60%;
    }
}
