.add-package {
    border: 5px solid rgb(207, 207, 207);
    background-color: rgba(255, 202, 43, 0.1);
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.5);
}

.add-package form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-package form input,
textarea {
    width: 60%;
    margin-bottom: 10px;
    padding-left: 20px;
    height: 4em;
}

.input-submit {
    background-color: #ffca2b;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    height: 2.5em;
    border: 3px solid transparent;
}

.input-submit:hover {
    background-color: #f3b703;
    border: 3px solid rgba(0, 0, 0, 0.5);
    transition: all 0.5s;
}

@media only screen and (max-width: 688px) {
    .add-package form input {
        width: 95%;
    }
    .add-package form textarea {
        width: 95%;
    }
}
