.single-order-container {
    display: flex;
    width: 75%;
    margin: auto;
    background-color: rgba(255, 202, 43, 0.1);
    box-shadow: 1px 1px 5px gray;
    margin-bottom: 10px;
}

.single-order-img-container {
    display: flex;
    align-items: center;
    width: 200px;
    height: auto;
    margin: auto;
}

.single-order-img {
    width: 80%;
    height: auto;
    margin: auto;
}

.my-order-text-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.single-order-button-container {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    justify-content: center;
}

@media only screen and (max-width: 688px) {
    .single-order-container {
        flex-direction: column;
        align-items: center;
        width: 95%;
        margin: 20px auto;
    }
    .my-order-text-container {
        flex-direction: column;
        padding: 0 10px;
        margin-top: 10px;
        text-align: center;
    }
}

@media only screen and (min-width: 689px) and (max-width: 900px) {
    .single-order-container {
        width: 95%;
        margin: auto;
    }
}
